@charset "UTF-8";

/**
 * Основные стили
 **/

html {
	font-size: 18px;
	color: $black;
}

body {
	font-family: 'Oranienbaum', serif;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.container {
	@include min-max(320px, 100%, 0);
}

.wrap {
	@include min-max(320px, 1180px, 15px);
}