.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-grow: 2;
    font-size: px-to-rem(16px);
    line-height: px-to-rem(18px);
    margin: 0;
}

.menu__item{

    margin-right: 60px;

    a{
        text-decoration: none;
        color: $black;
        transition: 0.3s;

        &:hover{
            transition: 0.3s;
            color: $brown;
        }
    }
}

@media(max-width: 792px){
    .menu{
        display: none;
    }
}